{% extends "layouts/base.html" %}
<!-- Static assets -->
{% load static %}

{% block title %}Affiliate Program{% endblock %}



    {% block header %}
                          
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'spinx:spinx' %}">Spin&Win</a>
                                </li>                                                 

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/affiliate">Affiliate</a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'home:dashboard' %}">Dashboard</a>
                                </li> 
       
    {% endblock header%}


    
    {% block content %}  

    <!-- Banner Section start -->
    <section class="banner-section inner-banner affiliate">
        <div class="overlay">
            <div class="shape-area">
                <img src="/static/winza/img/affiliate-banner.png" class="affiliate-illu" alt="image">
            </div>
            <div class="banner-content">
                <div class="container">
                    <div class="content-shape">
                        <img src="/static/winza/img/sell-hero-illus.png" class="obj-8" alt="image">
                    </div>
                    <div class="row">
                        <div class="col-lg-9 col-md-10">
                            <div class="main-content">
                                <h1>Affiliate</h1>
                                <div class="breadcrumb-area">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb d-flex align-items-center">
                                            <li class="breadcrumb-item"><a href="https://pixner.net/Winzangu/main/index.html">Home</a></li>
                                            <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">Affiliate</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section end -->

    <!-- Winzangu Affiliates In start -->
    <section class="Winzangu-affiliates">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-5 order-lg-0 order-1">
                        <div class="img-area d-rtl">
                            <img src="/static/winza/img/affiliates-illus.png" class="max-un" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header">
                            <h5 class="sub-title">Grow your Income With Winzangu</h5>
                            <h2 class="title">Earn more with Winzangu Referral Program</h2>
                            <p>The most advanced and rewarding affiliate program on the market. It's time to
                                start your profitable cooperation with a trusted and licensed partner.
                                With up to 45% revenue share deal on offer, you will get the best tool to monetize your
                                betting traffic.</p>
                            <ul>
                                <li>Generous commissions &amp; fast payouts</li>
                                <li>The fee commission will be sent instantly in real-time</li>
                                <li>There is no limit to the number of friends you can refer</li>
                                <li>Each referee must be signed up through your Referral Link.
                                </li>
                            </ul>
                        </div>
                        <span class="btn-border">
                         
                                           {% if not user.is_authenticated %}
                                        <button type="button" class="cmn-btn reg" data-bs-toggle="modal" data-bs-target="#loginMod">
                                            Join Now
                                        </button>
                                        {% endif %}
                                        {% if user.is_authenticated %}
                                        <a href="/dashboard">
                                        <button type="button" class="cmn-btn reg">
                                            Share you Ref Link
                                        </button>  
                                        </a>
                                        {% endif %}                            
                            
                            
                            
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Winzangu Affiliates In end -->

    <!-- Features Section In start -->
    <section class="features-section">
        <div class="overlay pb-120">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <div class="section-header">
                            <h5 class="sub-title">Grow your Income With Winzangu</h5>
                            <h2 class="title">Why you should sign up to the Winzangu Affiliate Program</h2>
                            <p>Earning is easy when you’re promoting Winzangu. Become an affiliate today!</p>
                        </div>
                        <div class="row cus-mar">
                            <div class="col-sm-6">
                                <div class="single-area text-center">
                                    <div class="img-area">
                                        <img src="/static/winza/img/features-icon-1.png" alt="image">
                                    </div>
                                    <h5>Flexible Commission</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-area text-center">
                                    <div class="img-area">
                                        <img src="/static/winza/img/features-icon-2.png" alt="image">
                                    </div>
                                    <h5>Track Payouts</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-area text-center">
                                    <div class="img-area">
                                        <img src="/static/winza/img/features-icon-3.png" alt="image">
                                    </div>
                                    <h5>Real-time Stats</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-area text-center">
                                    <div class="img-area">
                                        <img src="/static/winza/img/features-icon-4.png" alt="image">
                                    </div>
                                    <h5>Rewards as a top affiliate</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="section-img-area">
                            <img src="/static/winza/img/features-illus.png" class="max-un" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section In end -->

    <!-- How it Works start -->
    <section class="how-it-works affiliates">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Earn as our affilliate</h5>
                            <h2 class="title">Be our Affiliate!</h2>
                            <p>Join the program and gain up to 50% revshare! Earn as your referrals start playing!</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-area text-center">
                                    <div class="img-area">
                                        <img src="/static/winza/img/how-works-icon-6.png" alt="image">
                                    </div>
                                    <h4>1.Join us!</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-area text-center">
                                    <div class="img-area">
                                        <img src="/static/winza/img/how-works-icon-7.png" alt="image">
                                    </div>
                                    <h4>2.Start Inviting!</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-area text-center">
                                    <div class="img-area">
                                        <img src="/static/winza/img/how-works-icon-8.png" alt="image">
                                    </div>
                                    <h4>3.Get Paid</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="magnific-area d-flex align-items-center justify-content-center">
                                <div class="bg-area">
                                    <img class="bg-item" src="/static/winza/img/video-bg.png" alt="icon">
                                </div>
                                <a class="mfp-iframe popupvideo" href="https://www.youtube.com/watch?v=MJ0zpsWQ_XM">
                                    <img src="/static/winza/img/popup-icon.png.png" alt="icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How it Works end -->

 {% endblock content %}
