	
					

{% extends "layouts/base.html" %}
<!-- Static assets -->
{% load static %}

{% block title %}Mpesa Deposit{% endblock %}


    
    {% block content %} 

    <!-- Banner Section start -->
    <section class="banner-section inner-banner contact">
        <div class="overlay">
            <div class="shape-area">
                <img src="/static/winza/img/affiliate-banner.png" class="contact-illu" alt="image">
            </div>
            
            <div class="banner-content">
            <!--
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-10">
                            <div class="main-content">
                                <h1>Contact Us</h1>
                                <div class="breadcrumb-area">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb d-flex align-items-center">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                 
            </div>
        </div>
    </section>
    <!-- Banner Section end -->



    
    <!-- Contact In start -->
    <section class="contact-section">
        <div class="overlay">
            <div class="container bg-area">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <h2 class="title">Mpesa Deposit</h2>

                            {% if  ss %}
                            <p>{{ mssg1}}</p>
                            {% endif %}                           
                            
                            <a href="{% url 'users:profile' %}" class="cmn-btn">Update Phone.No</a>
                            <p class="text-warning">{{ mssg}}</p>
                        </div>
                    </div>
                </div>
                

                {% if ss %}
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="form-content">
                            <form action="{% url 'accounts:mpesa_deposit' %}" method="post">
                            	{% csrf_token %}
                                <div class="row justify-content-center">
               
                                    <div class="col-md-6">
                                        <div class="single-input">
                                            <label for="id_amount">Amount(KES)</label>
                                            <input type="number" name="amount"  placeholder="amount here" step="1"  min="10"   max="10000" required id="id_amount"> 
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6 col-10">
                                        <div class="btn-border w-100 mt-40">
                                            <button  type="submit" class="cmn-btn w-100">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if not ss %}
                <h4 class="text-info">How to deposit manually</h4>
                
                <p class="text-info">
                    1.Go to mpesa menu .                              
                </p>
                <p class="text-info">                
                    2.Go to lipa na mpesa.
                            
                </p>
                <p class="text-info">
                    3.Go to Buy goods TILL.Use {{ mssg1}}.
                                  
                </p>
              
                <p class="text-info"> 
                    4.Enter amount and Submit
                                 
                </p>    
                <p class="text-info">  
                    5.Wait for 10 minute for your balance to reflect.
                                 
                </p>                                            
                <p class="text-warning">
                    NOTE
                    </p>
                    <p class="text-info">
                        >>Strictly use {{ request.user.phone_number}} as this number is linked with this account.OR just update your phone number.
                        
                        </p>
                        <p class="text-info">
                            >>Forward mpesa payment message to  contact us if balance doesn't reflect in 10 minutes.(rare)
                        
                            </p>                                            
                {% endif %}
                


            </div>
        </div>
    </section>
    <!-- Contact In end -->    


{% endblock content %}
	

    
     
 {% block footer %}

    <!-- Footer Area Start -->
    <footer class="footer-section">
        <div class="container pt-120">
          
            <div class="footer-bottom-area pt-120">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="menu-item">
                            <a href="/" class="logo">
                                <img src="/static/winza/img/logo.png" alt="logo">
                            </a>
                            <ul class="footer-link">
                                <li><a href="{% url 'home:contact' %}">Contact</a></li>
                                <li><a href="/">Terms of Services</a></li>
                                <li><a href="/">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="copyright">
                            <div class="copy-area">
                                <p> Copyright ©2022 <a href="https://github.com/gibeongideon">Winzangu</a>|All rights reserved<a href="https://github.com/gibeongideon" class="auth">®</a>
                                </p>
                            </div>
                            <div class="social-link d-flex align-items-center">
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
      
    {% endblock footer %}
    		
	
