
{% extends "layouts/base.html" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


	<!-- Play Games Area End -->
		
	<!-- Recent Winners Area Start -->
	 <section class="recent-winners">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10">
						<div class="section-heading">
							<h5 class="subtitle">
								Quick & Easy
							</h5>
							<h2 class="title">
									Paypal  Instant Deposit
							</h2>
							<p class="text">
								Paypal deposits reflect instantly in your account.
							</p>
                            <h4>Enter Amount to Deposit(USD)</h4>
						</div>

						<div class="section-heading">
    
              <form action="{% url 'accounts:paypal-checkout' %}" method="post">
                {% csrf_token %}
                
                  <div class="form-group">
                    <input type="number" name="amount" class="form-control" placeholder="amount here" required id="id_amount">      
                  </div>
                
                
                <button class="mybtn1 type="submit">Proceed To Paypal</button>
                </form>







						</div>


					</div>
				</div>

	
		</div>
	</section> 
	<!-- Recent Winners Area End -->
{% endblock content %}
