{% extends "layouts/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}



    <!-- Footer Area Start -->
    <footer class="footer-section">
        <div class="container pt-120">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="newsletter">
                        <div class="section-text text-center">
                            <h5 class="sub-title">Password-Reset</h5>
                            <h3 class="title">Winzangu</h3>
                            <p>Reset Password</p>
                        </div>
                        
                                                                        <div class="form-area">
                                                                        
                                                                     				<form  role="form" method="POST">
					{% csrf_token %}
			  
					{% for field in form %}
			
					
					
					                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                
                                                                
                                                                					  {% if field.errors %}
					  <div class='text-danger alert alert-danger'>{{ field.errors|join:'<br />' }}</div>
					  {% endif %}
                                                                    <label for="logemail">Enter {{field.label}} you register with</label>
                                                                    {{ field}}
                                                                </div>
                                                    				{% if field.help_text %}	  <span class="help-block text-muted">
						<small>{{ field.help_text }}</small>
					  </span
					  {% endif %}
					  
                                                            </div>
                                                            {% endfor %}
                                         
                                                            <span class="btn-border w-100">
                                                                <button type="submit"  class="cmn-btn w-100">Reset</button>
                                                            </span>
                                                        </div>
					
					
					
					
					
					
					
					
					
					
					
					
				  </form>   
                                                           
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                </div>
                                                
                                                
                  
                       
                       
                       
                       
                    </div>
                </div>
            </div>
    </footer>
    
    {% endblock content %}
    
    {% block footer %}

    <!-- Footer Area Start -->
    <footer class="footer-section">
        <div class="container pt-120">
          
            <div class="footer-bottom-area pt-120">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="menu-item">
                            <a href="/" class="logo">
                                <img src="/static/winza/img/logo.png" alt="logo">
                            </a>
                            <ul class="footer-link">
                                <li><a href="{% url 'home:contact' %}">Contact</a></li>
                                <li><a href="/">Terms of Services</a></li>
                                <li><a href="/">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="copyright">
                            <div class="copy-area">
                                <p> Copyright © <a href="https://github.com/gibeongideon">Winzangu</a> | Designed by
                                    <a href="https://github.com/gibeongideon" class="auth">gideongibeon</a>
                                </p>
                            </div>
                            <div class="social-link d-flex align-items-center">
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
      
    {% endblock footer %}





