{% extends 'layouts/base.html' %}

{% block title %}Password Reset Email Send {% endblock %} 


{% block content %}



    <!-- Footer Area Start -->
    <footer class="footer-section">
        <div class="container pt-120">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="newsletter">
                        <div class="section-text text-center">
                            <h5 class="sub-title">Password Reset Done!</h5>
                            <h3 class="title">Winzangu</h3>
                            <p>Reset Link Send to your Email</p>
                        </div>
                        
                                                                        <div class="form-area">
                                                                        
                                                                     				        <div class='btn btn-primary btn-block'>
          Check your email! We've emailed you instructions for setting your password, if an account exists with the email you entered.<br>
          You should receive them shortly.
        </div>
        <div class='btn btn-primary btn-block'>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder!
        </div>
                               
                                                                        
                                                                        
                                                                        
                                                                        
                                                </div>
                                                           
                       
                       
                       
                       
                    </div>
                    <a class="cmn-btn reg" href="{% url 'users:password_reset' %}">Enter email again</a>
                </div>
            </div>
    </footer>
    
    {% endblock content %}
    
    {% block footer %}

    <!-- Footer Area Start -->
    <footer class="footer-section">
        <div class="container pt-120">
          
            <div class="footer-bottom-area pt-120">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="menu-item">
                            <a href="/" class="logo">
                                <img src="/static/winza/img/logo.png" alt="logo">
                            </a>
                            <ul class="footer-link">
                                <li><a href="{% url 'home:contact' %}">Contact</a></li>
                                <li><a href="/">Terms of Services</a></li>
                                <li><a href="/">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="copyright">
                            <div class="copy-area">
                                <p> Copyright © <a href="https://github.com/gibeongideon">Winzangu</a> | Designed by
                                    <a href="https://github.com/gibeongideon" class="auth">gideongibeon</a>
                                </p>
                            </div>
                            <div class="social-link d-flex align-items-center">
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
      
    {% endblock footer %}




      

