{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Change password done{% endblock %} 


{% block content %}

	<section class="awards-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">

   
						<h2 class="title">____________________
              </h2>
						<h5 class="subtitle">
							Change password 
						</h5>	
					</div>
				</div>
			</div>
			<div class="row">

          Your password has been set. You may go ahead and 

          <div class="mybtn1">
            <a href="{% url 'users:login' %}">
              Sign in
            </a>
          </div>

 
		</div>
	</section>



{% endblock content %}
